body {
  width: 100%;
  margin: 0 auto !important;
  word-break: break-word;
  color: #000;
  font-family: 'Inter', Roboto;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  background-color: #F7FAFC;
}
